/* Fonts */

@font-face{
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff2") format("woff2"),
       url("../fonts/cuprum.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Cuprum";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
       url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "Cuprum";
  src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
       url("../fonts/cuprumbolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "Cuprum";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
       url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
       url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face{
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
       url("../fonts/ptsansbold.woff") format("wff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* Variables */
:root{
  /* text and background colors */
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-red: #EE3643;
  --tomato-red: #FF5357;
  --dark-blue-top: #293449;
  --apple-green: #63A63E;
  --background-top-light-grey: #F3F7F9;
  --dark-blue-bottom:#32425C;
  --yellow: #FFBF47;
  --special-yellow: #FFC047;
  --footer-text-yellow: #FFD180;
  --summer-sky-blue: #3BBCE3;
  --plum-violet: #DC91D8;
  --light-green: #8ED78F;
  --bassic-background: #F1F5F7;
  --background-grey: #F9F5F0;
  --old-price-grey: #A9A9A9;
  --border-white-smoke: #EAEAEA;
  --header-background-grey: #F2F6F8;
  --form-range-green: #00ca74;
  --form-range-grey: #D7DCDE;
  --background-filter-grey:#F7F3EC;
  --border-grey: #E5E5E5;
  --breadcrumbs-icons: #C1C6CE;
  --logo-red-active: #BA2732;
  --header-active-link-blue: #161D29;
  --place-order-green-hover: #5FBB2D;
  --icon-hover-basic-grey: #3D546F;
  --navigation-hover-blue: #293449;
  --navigation-active-blue: #1D2739;
  --button-hover-red: #CA2C37;
  --button-active-red: #BA2732;
  --cart-buy-btn-green-active: #518534;
  --active-grey: #C5C5C5;
  --box-shadow-green: #367315;
  --box-shadow-blue: #405069;
  /* === RGB COLORS === */
  --basic-white-rgb: 255,255,255;
  --active-grey-rgb: 197,197,197;
  --old-price-grey-rgb: 169, 169, 169;
  --basic-black-rgb: 0,0,0;
}

/* Global styles */

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
  height: auto;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

/* === GRID === */

.page{
  height: 100%;
}

/* === CONTAINER === */

.container{
  width: 940px;
  margin: 0 auto;
  padding: 0 auto;
}

/* header */

.main-header{
  background-color: var(--header-background-grey);
}

/* header-wrapper-top */

.header-top-bar{
  background-color: var(--dark-blue-top);
}

.logo{
  background-color: var(--basic-red);
}
.main-header-logo:active{
  background-color: var(--logo-red-active);
}

.search-field{
  background-color: var(--dark-blue-top);
}
.search-field{
  border: none;
}
.search-field:focus{
  background-color: var(--basic-white);
}
.header-top-menu{
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--basic-white);
}
.header-top-menu a{
  color: var(--basic-white);
}
.header-top-menu a:active{
  color: rgba(var(--basic-white-rgb), 0.5);
  background-color: var(--header-active-link-blue);
}
.finish-order a{
  background-color: var(--apple-green);
}
.finish-order a:hover{
  background-color: var(--place-order-green-hover);
}
.finish-order a:active{
  background-color: var(--apple-green);
}

/* header-wrapper-middle */

.header-connecting{
  list-style: none;
  margin: 0;
  padding: 0;
}
.shop-description{
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: var(--basic-red);
}
.phone-number a{
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  border: 3px solid #FFFFFF;
}
.adress{
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-blue-bottom);
}
.connect a{
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.connect a:hover{
  color: var(--basic-red);
}
.connect a:active{
  color: var(--active-grey);
}

/* header-wrapper-bottom */

.header-wrapper-bottom{
  background-color: var(--dark-blue-bottom);
}
.site-navigation{
  list-style: none;
  margin: 0;
  padding: 0;
}
.site-navigation a{
  color: var(--basic-white);
}
.site-navigation a:hover{
  background-color: var(--dark-blue-top);
}
.site-navigation a:active{
  background-color: var(--navigation-active-blue);
  color: rgba(var(--basic-white-rgb), 0.5);
}

/* promo-block */

.new-item{
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.promo-block-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: 20px;
  grid-template-rows: 123px 123px 123px;
  grid-template-columns: 300px 300px 300px;
}
.promo-block__item-title{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
}
.promo-block__item-materials{
  background-color: var(--yellow);
}
.promo-block__item-instruments{
  background-color: var(--summer-sky-blue);
}
.promo-block__item-technics{
  background-color: var(--plum-violet);
}
.promo-block__item-discounts{
  background-color: var(--light-green);
}
.promo-block__item-delivery{
  background-color: var(--special-yellow);
}

.promo-block__item-button{
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: rgba(var(--basic-white-rgb), 0.3);
}
.promo-block__item-button:hover{
  background-color: rgba(var(--active-grey-rgb), 0.3);
}
.promo-block__item-button:active{
  background-color: rgba(var(--old-price-grey-rgb), 0.3)
}

.promo-block__item-discounts{
  grid-column: 3/4;
}
.promo-block__item-delivery{
  grid-column: 3/4;
}
.promo-block__slider{
  grid-column: 1/3;
  grid-row: 2/4;
}

/* promo-slider */

.promo-slider__item{
  background-color: var(--active-grey);
}
.promo-slider__item-title{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-white);
}
.promo-slider__item-description{
  color: var(--basic-white);
}
.button{
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
}
.button:hover{
  background-color: var(--button-hover-red);
}
.button:active{
  background-color: var(--button-active-red);
}

/* popular-products */

.title{
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-blue-bottom);
}
.heading-background{
  background-color: var(--background-grey);
}
.product-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.product-list__item{
  border: 1px solid var(--border-white-smoke);
}
.product-name a{
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: var(--basic-black);
}
.old-price{
  font-family:  "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  color: var(--old-price-grey);
  text-decoration: line-through;
}
.discount-price{
  font-family:  "PT Sans", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 38px;
  color: var(--basic-white);
  background-image: url(../img/red-button.svg);
  background-repeat: no-repeat;
  height: 38px;
  width: 141px;
  text-align: center;
}
.button-buy,
.button-bookmark{
  font-size: 14px;
  line-height: 18px;
}
.button-buy{
  color: var(--basic-white);
  background-color: var(--apple-green);
  border-radius: 2px;
  box-shadow: inset 0px -3px 0px var(--box-shadow-green);
}
.button-buy:hover{
  background-color: var(--place-order-green-hover);
}
.button-buy:active{
  background-color: var(--cart-buy-btn-green-active);
}
.button-bookmark{
  color: var(--dark-blue-bottom);
  border: 3px solid var(--apple-green);
  border-radius: 2px;
}
.button-bookmark:hover{
  border: 3px solid var(--dark-blue-bottom);
}
.button-bookmark:active{
  opacity: 0.5;
}

/* popular-brands */

.popular-brands__list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px 145px;
}
.popular-brands__list-item img{
  max-width: 220px;
  max-height: 145px;
  border: 1px solid var(--border-white-smoke);
}
.popular-brands__list-item:hover{
  filter: drop-shadow(0px 4px 20px rgba(var(--basic-black-rgb), 0.15));
}
.popular-brands__list-item:active{
  opacity: 0.5;
  filter: none;
}

/* services */

.services{
  background-color: var(--bassic-background);
}

.services-slider{
  display: grid;
  grid-template-columns: 300px 1fr;
}
.service-slider-buttons{
  grid-row: 1/2;
}

.services-title{
  padding-top: 64px;
}

.services-title,
.about-us__title,
.contacts__title{
  color: var(--basic-black);
}
.text{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
.service-btn{
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  min-width: 240px;
  min-height: 61px;
  background-color: var(--dark-blue-bottom);
  box-shadow: 0px 1px 0px var(--dark-blue-top), inset 0px 1px 0px var(--box-shadow-blue);
}
.service-btn:hover{
  background-color: var(--dark-blue-top);
}
.service-btn:focus{
  color: var(--dark-blue-bottom);
  background-color: var(--basic-white);
}

/* === INDEX COLUMNS === */

.index-columns{
  display: grid;
  grid-template-columns: 1fr 300px;
}

/* about-us" */
.partner-categories .partner-categories__item{
  list-style: none;
  margin: 0;
  position: relative;
}
.partner-categories .partner-categories__item::before{
  content: "";
  background-image: url(../img/icons/red-marker.svg);
  position: absolute;
  width: 25px;
  height: 2px;
  top: 11px;
  left: -37px;
}

/* footer */

.footer-top-bar,
.footer-middle-bar{
  background-color: var(--dark-blue-bottom);
}
.footer-bottom-bar{
  background-color: var(--dark-blue-top);
}

/* footer-top */

.footer-navigation{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-navigation a{
  color: var(--bassic-background);
}
.footer-navigation a:hover{
  text-decoration: underline;
}
.footer-navigation a:active{
  opacity: 0.5;
}

/* top-middle */

.footer-contacts__find-us,
.footer-contacts__find-us a{
  color: var(--bassic-background);
}
.categories-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.categories-list-item a{
  color: var(--footer-text-yellow);
}
.categories-list-item a:hover{
  text-decoration: underline;
}
.categories-list-item a:active{
  opacity: 0.5;
}
.footer-wrapper-middle{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* footer-bottom */
.footer-wrapper-bottom{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-copyright{
  color: var(--basic-white);
  width: 235px;
  margin: 0;
  font-size: 16px;
  line-height: 18px;
}
.footer-social{
  width: 140px;
  justify-self: center;

}
.footer-social-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-mail,
.footer-designed-by{
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}
.footer-mail a,
.footer-designed-by a{
  color: var(--footer-text-yellow);
}
.footer-mail a:hover,
.footer-designed-by a:hover{
  text-decoration: underline;
}
.footer-mail a:active,
.footer-designed-by a:active{
  color: var(--basic-red);
}
.social-icon:hover .social-icon-bg,
.social-icon:active .social-icon-bg{
  fill: var(--basic-red);
}

.footer-bottom-feedback p{
  margin: 0;
}

/* ==== CATALOG ==== */

.cart-buy-list a,
.cart-buy-list a:hover,
.cart-buy-list a:focus{
  background-color: var(--basic-red);
}
.loged-user a{
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
.user-orders a,
.user-account a{
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue-bottom);
}
.user-orders a:hover,
.user-account a:hover{
  color: var(--basic-red);
}
.loged-user a:active,
.user-orders a:active,
.user-account a:active{
  color: var(--active-grey);
}

/* ==== BREADCRUMBS ==== */

.breadcrumbs{
  list-style: none;
  padding: 0;
  margin: 0;
}
.breadcrumbs-item,
.breadcrumbs-item a{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
}

/* === product-category === */

.product-category{
  background-color: var(--header-background-grey);
}

/* === FILTER === */

.type-sort-title{
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}
.brands-field__list,
.charge-type-field__list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sort-by{
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
}

/* === SORTING === */

.sort-title{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}
.sort-list{
  list-style: none;
  padding: 0;
  margin: 0;
}
.sort-list__item a{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(var(--basic-black-rgb), 0.3);
  border-bottom: 1px dotted var(--basic-red);
}
.sort-list__item a:hover{
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}
.sort-list__item a:active,
.sort-list__item a:focus{
  color: var(--basic-red);
  border-bottom: none;
}

/* ===PAGINATION=== */

.pagination-list{
  list-style: none;
  margin: 0;
  padding: 0;
}
.pagination-list__item a{
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-black);
  border: 1px solid var(--border-grey);
  border-radius: 2px;
}
.pagination-list__item a:hover{
  border: 1px solid var(--active-grey);
}
.pagination-list__item a:active{
  border: 1px solid var(--basic-red);
}
.pagination-list__item--current-pg a{
  background-color: var(--basic-red);
  color: var(--basic-white);
}
